header {
    background-color: $white;
    border-bottom: solid 1px #000;
    z-index: 999;
    position: fixed;
    height: auto;
    @include breakpoint($bp-desktop){
        background-color: transparent;
    }

    .site-branding {
        img {
            height: 60px;
        }
    }

    .site-navigation {
        ul {
            display: none;

            li {
                display: block;

                a {
                    display: block;
                    text-align: left;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    @include transition-time(0.5s, ease-in-out);


                    &:hover,
                    &:focus {
                        color: #fff
                    }
                }
            }

            .menu-item-has-children {
                ul {
                    display: none;

                    li {
                        padding-left: 20px;
                        border-left: solid 1px $main_color;
                        border-bottom: solid 1px $main_color;

                        &:first-child {
                            border-top: solid 1px $main_color;
                        }
                    }
                }

                &:active,
                &:focus,
                &:hover {
                    ul {
                        display: block;
                    }
                }
            }

            @include breakpoint($bp-desktop) {
                display: block;
                float: right;

                li {
                    display: inline-block;

                    &:not(:last-child) {
                        border-right: 1px solid $main_color;
                    }

                    @include transition-time(0.5s, ease-in-out);

                    &:hover,
                    &:focus {
                        background-color: $main_color;
                        border-color: $white;

                        a {
                            color: $white;
                        }

                    }
                }

                .menu-item-has-children {
                    position: relative;

                    ul {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        display: none;

                        li {
                            display: block;
                            border: solid 1px $main_color;

                            a {
                                padding: 5px 40px;
                                color: $main_color;
                            }

                        }
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        ul {
                            display: block;

                            li {
                                a {
                                    color: #fff
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .menu-toggle {
        width: 40px;
        height: 40px;
        background: transparent;
        padding-top: 5px;
        border: 1px solid $main_color;
        color: $main_color;

        @include breakpoint($bp-desktop) {
            display: none;
        }
    }
}



header.sticky {
    background: $white;
    color: $main_color;

    .site-navigation {
        ul {

            .menu-item-has-children {
                ul {
                    li {
                        background: $white;

                        a {
                            color: $main_color;
                        }

                        &:hover,
                        &:focus {
                            li {
                                background: $main_color !important;

                                a {
                                    color: #fff;
                                }
                            }

                        }
                    }

                }

            }
        }
    }
}