.posts {
    .post {
        border: 1px solid $main_color;
        margin: 0 20px 10px 0;
        word-break: break-word;
        .thumb{
            a {
                @include link-style(#000, $main_color);
                img {
                    width: 100%;
                    height: 275px
                }
            }
            border-bottom: 1px solid $main_color;
        }
        .description{
            padding: 10px;
            h3 {
                font-size: 20px;
                font-weight: 700;
                font-family: $main_font-family;
                color: $main_color
            }
        }
        
        
    }
}
.actions{
    padding: 10px;
    p{
        display: inline-block;
    }
    a{
        display: inline-block;
        &:hover{
            color: #bb2124;
        }
    }
}